@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background\ images.png);
    background-size: cover;
    background-position: center;
}
.amtec{
    font-size: 18px;
    font-family: "poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 85px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    cursor: grab;
}
nav ul li a::after,
nav ul li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    transition: all 0.6s ease-in-out;
}
nav ul li a::after {
    top: 0;
    right: 0;
    transform-origin: right;
}
nav ul li a::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}
nav ul li a:hover::after,
nav ul li a:hover::before {
    width: 100%;
}
nav ul button{
    padding: 5px ;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border: solid 1px;
    color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.6s ease-in-out;
}
nav ul button:hover{
    padding: 8px;
    box-shadow: none;
}
.text-left{
    width: 100%;
    position: absolute;
    font-family: "poppins";
}
.text-left h1{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-size: 70px;
}
.text-left h3{
    margin-top: 20px;
    font-family: "poppins";
}
.dropdown__menu{
    display: none;
    background-color: black;
    gap: 10px;
    padding: 20px;
    position: absolute;
    top: 76%;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    transform: translateX(-10%);
    animation: slideLeft;
}
.features .dropdown__menu li{
    list-style: none;
    display: inline-block;
    margin-left: 5px
}
.features:hover .dropdown__menu{
    display: grid;
    opacity: 1;
    transform: translateX(0);
}
/*@keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}*/


/*------------------features-------------*/
.sub-title{
    text-align: center;
    margin-bottom: 40px;
}
#features{
    padding: 30px 0;
}
.features-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 50px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
.features-list div{
    background: #1b1b1b;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;;
}
.features-list div i{
    font-size: 30px;
    margin-bottom: 30px;
}
.features-list div h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.features-list div p{
    font-size: 18px;
    font-weight: 400;
}
.features-list div:hover{
    background: #c7bebe;
    transform: translateY(-10px);
    color: #080808;
}
.btn1{
    margin-top: 50px;
    text-align: center;
}
.btn1 button{
    padding: 12px 2%;
    border-radius: 15px;
    border: none;
    opacity: 0.6;
    font-size: 14px;
    background-color: #c7bebe;
    transition: opacity 0.5s;
}
.btn1 button i{
    font-size: 15px;
    margin-left: 5px;
}
.btn1 button:hover{
    opacity: 1;
    background-color: #fff;
}


/*------------------accordion--------------*/
section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.section-title{
    font-size: 2.3rem;
    margin: 2rem 0rem;
}
.faq{
   max-width: 700px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid #fff;
   cursor: pointer; 
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3{
    font-size: 19px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform .5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*-----------forms-----*/
.form-div{
    display: flex;
    width: 100%;
    justify-content: center;
}
form {
    margin-top: 50px auto 0;
  }
.Newsletter{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}
.subscribe{
    display: flex;
    width: 100%;
    justify-content: center;
}
.subscribe button{
    margin-top: 30px;
    padding: 8px 3%;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #c7bebe;
    transition: opacity 0.5s;
}
.subscribe button:hover{
    opacity: 1;
    background-color: #fff;
}
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
input[type=submit] {
    color: black;
    border: none;
    font-size: 16px;
}
/*-------------------copyright------------*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 50px;
    color: #fff;
}
.copyright i{
    color: #ff004f;
}
/*-----------for phone sizes------------*/
nav .fa-solid{
    display: none;
}


@media screen and (max-width: 600px)
{
    #header{
        background-image: url(images/phone-background.png);
    }
    .text-left h1{
        font-size: 34px;
        line-height: 50px;
    }
    .text-left h3{
        font-size: 18px;
    }
    .Newsletter{
        margin-top: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #080808;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 90vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}